/* 10a */

body, * {
    font-family: Inter;
}

.cart > button {
    background-color: rgb(255, 216, 20);
    padding: 10px;
    border-radius: 20px;
    border: 0px;
    width: 200px;
    height: 40px;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;

}

.cart > button:hover {
    background-color: #212121;
    font-weight: 600;
    color: #fff;
 
}

.uber button, .toggle button {
    background-color: #212121;
    padding: 10px;
    color: white;
    font-weight: 600;
    border: 0px;
    width: 120px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}


.uber button:nth-child(2) {
    background-color: rgba(128, 128, 128, 0.514);
    padding: 10px;
    color: #111;
    width: 200px;
}



.isToggled {
    background-color: red !important;
    color: #212121 !important;

}